<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <span :style="healthBarNumber" class="log--monster">
          {{ monsterHealth }}%
        </span>
        <div class="healthbar">
          <div :style="monsterHealthBarStyle" class="healthbar__value"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <span :style="healthBarNumber" class="log--player">
          {{ playerHealth }}%
        </span>
        <div class="healthbar">
          <div :style="playerHealthBarStyle" class="healthbar__value"></div>
        </div>
      </section>
      <section id="controls">
        <button @click="attackMonster(3, 8)">ATTACK</button>
        <button @click="specialAttack" :disabled="isSpecialAttackAvailable">
          SPECIAL ATTACK
        </button>
        <button @click="heal" :disabled="isHealAvailable">HEAL</button>
        <button>SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="value in log">
            <span :class="renderName(value.name)">{{ value.name }} </span>

            <span v-if="'damage' in value">
              dealt
              <span :class="renderDamageClass">{{ value.damage }}</span> damage
            </span>

            <span v-else-if="'heal' in value">
              healed
              <span :class="renderHealthClass">{{ value.heal }}</span> health
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
